html{
  text-align: center;
}
h1{
  color: white;
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
}
.link{
  color: white;
  font-size: 18px;
  font-family: Helvetica;
}
.img{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
